.git
.github
**/node_modules
**/vendor
apps/wegotworkspace/packages
apps/wegotworkspace/wgw-content
packages/onlyoffice-web
**/.phpunit.cache
**/storage/logs
**/storage/framework/views
**/.env
**/.env.local
*.md
