.git
.github
**/node_modules
**/vendor
apps/wegotworkspace/packages
apps/wegotworkspace/wgw-content
**/.phpunit.cache
**/storage/logs
**/storage/framework/views
**/.env
**/.env.local
*.md
!INSTALL.md
!README.md
!THIRD_PARTY_NOTICES.md
