node_modules/
.turbo/
.env

/apps/wegotworkspace/vendor/
/apps/wegotworkspace/wgw-config.php
/apps/wegotworkspace/wgw-content/*
/apps/wegotworkspace/wgw-content/sessions/*
/apps/wegotworkspace/wgw-modules/docs/build/
/apps/wegotworkspace/wgw-modules/drive/dist/
/apps/wegotworkspace/wgw-modules/voice/dist/
/apps/wegotworkspace/wgw-modules/mail/dist/
/apps/wegotworkspace/wgw-modules/admin/dist/
/apps/wegotworkspace/wgw-modules/settings/dist/
/apps/wegotworkspace/wgw-modules/install/dist/
/apps/wegotworkspace/build/
/apps/wegotworkspace/dist/
/data/*
/data/sessions/*
/tools/office-website/
/tools/bright-face-connect/
/build/
wgw-content/
.DS_Store