@import "../../styles.css" reference;

.icon-button--size-sm {
  width: calc(var(--input-height, 2.25rem) - 0.25rem);
  height: calc(var(--input-height, 2.25rem) - 0.25rem);
  --button-icon-size: 0.875rem;
}

.icon-button--size-md {
  width: var(--input-height, 2.25rem);
  height: var(--input-height, 2.25rem);
  --button-icon-size: 1rem;
}

.icon-button--size-lg {
  width: calc(var(--input-height, 2.25rem) + 0.25rem);
  height: calc(var(--input-height, 2.25rem) + 0.25rem);
  --button-icon-size: 1.25rem;
}

.icon-button--active .button__icon > svg {
  fill: currentColor;
}
