@import "../../styles.css" reference;

.dropdown-menu__item {
  @apply cursor-pointer p-0;
}

.dropdown-menu__menu-item {
  @apply gap-2.5 px-2.5 py-2;
  border-radius: var(--control-radius);
}

.dropdown-menu__menu-item .menu-item__icon-slot > svg {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
